
/* Some nice fonts */
h1 {
  font-family: 'Arvo',
  Georgia, Times, serif;
  font-size: 39px;
  line-height: 50px;
}

div.subtitle {
  font-family: 'PT Sans',
  Helvetica, Arial, sans-serif;
  font-size: 13px;
}

div.container {
  font-family: 'PT Sans',
  Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
}

/* Make page skinny */
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 700px;
}

body {
  padding: 20px;
}

h2 {
  margin-top: 20px;
}

.well, .tabbable {
  margin-top: 20px;
}

p {
  line-height: 20px !important;
}

li {
  line-height: 25px !important;
}

.githubBanner {
  position: absolute;
  border: 0;
  top: 0;
}

.githubBanner.left {
  left: 0;
}

.githubBanner.right {
  right: 0;
}

.container .content {
  margin-top: 30px;
}

.packages {
  width: 100%;
}

.packages th {
  text-align: left;
}

td.icon-cell {
  vertical-align: middle;
  margin-right: 5px;
}

.icon-refresh {
  margin-right: 6px;
  margin-top: 2px;
}
