
/* Some nice fonts */
h1 {
  font-family: 'Arvo',
  Georgia, Times, serif;
  font-size: 39px;
  line-height: 50px;
}

div.subtitle {
  font-family: 'PT Sans',
  Helvetica, Arial, sans-serif;
  font-size: 13px;
}

div.container {
  font-family: 'PT Sans',
  Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
}

/* Make page skinny */
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 700px;
}
