
/* Some nice fonts */
h1 {
  font-family: 'Arvo', Georgia, Times, serif;
  font-size: 39px;
  line-height: 50px;
}

.page-header a:hover {
  text-decoration: none;
}

h1 a {
  color: #333;
}

div.subtitle {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

div.container {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
}

div.bottom-bar {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

body {
  padding: 15px 10px;
}

h2 {
  margin-top: 20px;
}

.container h2, .container h3 {
  margin-bottom: 10px;
}

.well, .tabbable {
  margin-top: 20px;
}

p {
  line-height: 20px !important;
}

li {
  line-height: 25px !important;
}

.packages {
  width: 100%;
}

.packages th {
  text-align: left;
}

.packages th .info {
  margin-left: 8px;
  color: #999;
  font-weight: normal;
  font-size: 12px;
}

.packages td {
    padding: 5px;
}

dl.package-title {
    margin: 0;
    padding: 0;
}

.package-title dt {
  font-weight: bold;
}

.package-title dd {
  color: #777;
}

dl.version-title {
    margin: 0;
    padding: 0;
}

.version-title dt {
    font-weight: bold;
}

.version-title dd {
    color: #777;
}

td.info-cell {
  vertical-align: top;
}

td.info-cell a {
  margin-top: -3px;
}

.nav-wtf a {
  margin-left: 5px;
}

.container[role="main"] {
  padding-bottom: 60px;
}

.bottom-bar {
  background-color: white;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom-bar ul.nav {
  margin: 10px;
}

.page-header {
  border-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.page-header h1 {
  margin-bottom: 0 !important;
}

.package-readme:after {
  content: "README.md";
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 0px 0px 0px 10px;
  -moz-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 10px;
  box-shadow: 0px 1px 3px 1px #EEE;
}

.package-readme {
  background: #FCFCFC !important;
  border: 1px solid #CCC;
  padding: 9px;
  border-radius: 5px;
  position: relative;
  margin: 15px 0;
  padding: 7px 15px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.package-readme h1{
  font-size: 19px
}

.package-readme h2{
  font-size: 18px
}

.package-readme h3{
  font-size: 17px
}