
/* Some nice fonts */
h1 {
  font-family: 'Arvo', Georgia, Times, serif;
  font-size: 39px;
  line-height: 50px;
}

h1 a {
  color: #333;
}

div.subtitle {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

div.container {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
}

div.bottom-bar {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

body {
  padding: 20px;
}

h2 {
  margin-top: 20px;
}

.container h2, .container h3 {
  margin-bottom: 10px;
}

.well, .tabbable {
  margin-top: 20px;
}

p {
  line-height: 20px !important;
}

li {
  line-height: 25px !important;
}

.packages {
  width: 100%;
}

.packages th {
  text-align: left;
}

.packages td {
    padding: 5px;
}

dl.package-title {
    margin: 0;
    padding: 0;
}

.package-title dt {
  font-weight: bold;
}

.package-title dd {
  color: #777;
}

dl.version-title {
    margin: 0;
    padding: 0;
}

.version-title dt {
    font-weight: bold;
}

.version-title dd {
    color: #777;
}

td.info-cell {
  vertical-align: top;
}

td.info-cell a {
  margin-top: -3px;
}

.nav-wtf a {
  margin-left: 5px;
}

.container[role="main"] {
  padding-bottom: 60px;
}

.bottom-bar {
  background-color: white;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom-bar ul.nav {
  margin: 10px;
}

.page-header {
  border-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.page-header h1 {
  margin-bottom: 0 !important;
}
